.list-item_no-bullit {
  list-style-type: none;
}

.text_no-underline {
  text-decoration: none;
}

.text_custom-underline {
  border-bottom: 1px solid black;
}

/*pseudo-element for creating an overlay (darkening background).
Z-index: -1 here and z-index: -2 in card class to push text in a block to the top level*/

.dark-overlay:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  content: "";
}

.hover-scaling {
  transition: transform 0.5s;
}
.hover-scaling:hover {
  transform: scale(102%);
}
